#formulario{
  margin: 25px;
  
}

.form-group{
  padding: 6px;
}

h2, label {color: whitesmoke;}
h2{ 
  
  padding: 20px;
  text-align: center;
}
#btn-enviar{display:flex;justify-content: center;}

#input.uppercase{text-transform: uppercase;}